.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    gap: 20px;
    background: #F8F8F8;
    border-radius: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

.hero .content .text h3{
    font-family: 'Playwrite BE VLG';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--orange-color);
    margin: 0px;
}

.hero .content .text h1{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.hero .content .text p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.502);
}

.hero .image img{
    width: 500px;
}

@media (max-width:990px) {
    .hero{
        justify-content: center;
    }
    .hero .image img{
        width: 300px;
        height: 300px;
    }

    .hero .content {
        text-align: center;
    }

    .social_links{
        justify-content: center;
    }
}

.content button{
    margin: 10px 5px;
    padding: 8px 20px;
    border-radius: 10px; 
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: white;
}

.btn1{
    background-color: var(--orange-color);
}

.btn1:hover{
    background-color: transparent;
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
    transition: 0.3s;
}

.btn2{
    background-color: #00a850;
}

.btn2:hover{
    background-color: transparent;
    border: 1px solid#00a850;
    color:#00a850;
    transition: 0.3s;
}

.social_links{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
.social_links div{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
}